# 数据集校验报告


## 性能信息
- 使用并行线程数: 8
- 校验总耗时: 5.83 秒
## 检测到的结构目录

-  发现含有关键词 `train` 的目录：D:\python coding\validator\imagenette2\train
-  发现含有关键词 `val/validation/test (已优先选择 test)` 的目录：D:\python coding\validator\imagenette2\test

## 损坏图片检查

共发现 1 张损坏图片：
  - D:\python coding\validator\imagenette2\train\n03888257\error_testing.jpg

训练集类别样本数量

- n01440764: 963 张图片
- n02102040: 955 张图片
- n02979186: 993 张图片
- n03000684: 858 张图片
- n03028079: 941 张图片
- n03394916: 956 张图片
- n03417042: 961 张图片
- n03425413: 931 张图片
- n03445777: 951 张图片
- n03888257: 961 张图片（其中 1 张损坏）